<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% @trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br>
    <%= select("trigger", "device_id", @devices) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :property %><br>
    <%= f.text_field :property %>
  </div>
  <div class="field">
    <%= f.label :operation %><br>
    <%= f.text_field :operation %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
